[submodule "ext/jellyfish"]
	path = ext/jellyfish
	url = https://github.com/gmarcais/Jellyfish.git
[submodule "ext/seqan"]
	path = ext/seqan
	url = https://github.com/seqan/seqan.git
[submodule "ext/yaggo"]
	path = ext/yaggo
	url = https://github.com/gmarcais/yaggo.git
